AzLogicApp_RandomWordpressPost.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Create_variable_JsonRngGenerator_and_assign_(easier_use_in_JSON_for_Az_Function)": {
        "inputs": {
          "variables": [
            {
              "name": "JsonRngGenerator",
              "type": "string",
              "value": "{ 'MaxValue': '@{length(body('List_all_RSS_feed_items'))}' }"
            }
          ]
        },
        "runAfter": {
          "List_all_RSS_feed_items": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "Create_variable_PostUrl_and_assign_(easier_use_in_twitter)": {
        "inputs": {
          "variables": [
            {
              "name": "PostUrl",
              "type": "string",
              "value": "@{body('List_all_RSS_feed_items')?[body('RngGenerator')]['primaryLink']}"
            }
          ]
        },
        "runAfter": {
          "RngGenerator": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "List_all_RSS_feed_items": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['rss']['connectionId']"
            }
          },
          "method": "get",
          "path": "/ListFeedItems",
          "queries": {
            "feedUrl": "https://adevopsjourney.com/feed/"
          }
        },
        "runAfter": {},
        "type": "ApiConnection"
      },
      "Post_a_tweet": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['twitter_1']['connectionId']"
            }
          },
          "method": "post",
          "path": "/posttweet",
          "queries": {
            "tweetText": "⚡ Learning Tuesday ⚡\nChaque Mardi, un nouvel article pour éveiller la curiosité 💻\n@{variables('PostUrl')}"
          }
        },
        "runAfter": {
          "Create_variable_PostUrl_and_assign_(easier_use_in_twitter)": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "RngGenerator": {
        "inputs": {
          "body": "@variables('JsonRngGenerator')",
          "function": {
            "id": "/subscriptions/b8c01488-2755-45c0-8bd5-493f691b6952/resourceGroups/adevopsjourney-rg/providers/Microsoft.Web/sites/JoffreyNurit-MyLibrary/functions/RngGenerator"
          },
          "method": "POST"
        },
        "runAfter": {
          "Create_variable_JsonRngGenerator_and_assign_(easier_use_in_JSON_for_Az_Function)": [
            "Succeeded"
          ]
        },
        "type": "Function"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "Recurrence": {
        "evaluatedRecurrence": {
          "frequency": "Week",
          "interval": 1,
          "schedule": {
            "hours": [
              "10"
            ],
            "weekDays": [
              "Thursday"
            ]
          },
          "timeZone": "Romance Standard Time"
        },
        "recurrence": {
          "frequency": "Week",
          "interval": 1,
          "schedule": {
            "hours": [
              "10"
            ],
            "weekDays": [
              "Thursday"
            ]
          },
          "timeZone": "Romance Standard Time"
        },
        "type": "Recurrence"
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "rss": {
          "connectionId": "/subscriptions/b8c01488-2755-45c0-8bd5-493f691b6952/resourceGroups/adevopsjourney-rg/providers/Microsoft.Web/connections/rss",
          "connectionName": "rss",
          "id": "/subscriptions/b8c01488-2755-45c0-8bd5-493f691b6952/providers/Microsoft.Web/locations/francecentral/managedApis/rss"
        },
        "twitter_1": {
          "connectionId": "/subscriptions/b8c01488-2755-45c0-8bd5-493f691b6952/resourceGroups/adevopsjourney-rg/providers/Microsoft.Web/connections/twitter-1",
          "connectionName": "twitter-1",
          "id": "/subscriptions/b8c01488-2755-45c0-8bd5-493f691b6952/providers/Microsoft.Web/locations/francecentral/managedApis/twitter"
        }
      }
    }
  }
}